<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/common-head') %>
  <script src="js/guest.js" type="text/javascript"></script>
</head>

<body>
  <%- include ('../partials/branding') %>

  <main>
    <%- include ('../partials/video-player') %>
  </main>

  <aside>
    <%- include ('../partials/live-chat') %>
  </aside>
  <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
</body>

</html>